html {
    user-select: none;
}
body {
    background-image: url("./media/background-main.jpg");
    background-color: #cccccc;
   }

.paragraf1{
    color: red;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10rem;
    text-decoration: underline;
    text-underline-position: below;
}

.chars{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
