html {
    user-select: none;
}
body {
    background-image: url("./media/background-main.jpg");
    background-color: #cccccc;
   }

.paragraf1{
    color: red;
    text-align: center;
    font-family: 'VCR OSD Mono';
    font-size: 10rem;
    margin-top: 20px;
}

.chars{
    display: block;
    margin-left: auto;
    margin-right: auto;
}